/* Article Flex box */
.BookingsContentArticleContainer {
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

/* Styles */
.BookingsContentArticleContainer article {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--highlight-white);
    border-radius: 16px;
    padding: 30px 10px 30px 10px;
    margin: 10px;
    text-align: left;
    font-size: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.dateTimeInfo {
    display: flex;
    flex-direction: row;
}

.guestsOccasionInfo {
    display: flex;
    flex-direction: row;
}

.occasionInfo {
    min-width: 150px;
}

.dateInfo, .timeInfo, .guestsInfo, .occasionInfo {
    margin: 0px 20px 0px 20px;
}

.BookingsContentArticleContainer p {
    margin: 0px;
    margin-left: 10px;
}

.dateInfo {
    display: flex;
    justify-content: left;
    align-items: center;
}

.timeInfo {
    display: flex;
    justify-content: left;
    align-items: center;
}

.guestsInfo {
    display: flex;
    justify-content: left;
    align-items: center;
}

.occasionInfo {
    display: flex;
    justify-content: left;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .BookingsContentArticleContainer {
        min-width: 400px;
    }

    .dateTimeInfo {
        display: flex;
        flex-direction: column;
    }
    .guestsOccasionInfo {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .BookingsContentArticleContainer {
        min-width: auto;
    }
    .BookingsContentArticleContainer article{
        min-width: auto;
        flex-direction: column;
        padding: 10px;
    }
    .occasionInfo, .guestsInfo {
        min-width: auto;
    }
}